# Dependencies
node_modules

# Build
dist
dist-ssr

# Environment
.env
.env.local
*.local

# OS
.DS_Store

# Logs
logs
*.log

# TypeScript
tsconfig.tsbuildinfo

# Editor
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Worktrees
.worktrees/
